{% extends 'base.html.twig' %}

{% block title %}Bienvenue - Pricing{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    
    <div class="card-deck mb-12 text-center">

        

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Mis en concurrence</h4>
            </div>
            <div class="card-body">                
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Article A</li>
                    <li>Article B</li>
                    <li>Article C</li>
                    <li>Article D</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary"><i class="fas fa-list"></i> Tous les articles</button>
            </div>
        </div>

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Offres des concurrents</h4>
            </div>
            <div class="card-body">                
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Offre 1</li>
                    <li>Offre 2</li>
                    <li>Offre 3</li>
                    <li>Offre 4</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary"><i class="fas fa-list"></i> Toutes les offres</button>
            </div>
        </div>
    </div>
        
{% endblock %}

{% block javascripts %}{% endblock %}


