{% extends 'base.html.twig' %}

{% block title %}Articles - Pricing{% endblock %}

{% block titlePage %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2><i class="fas fa-users"></i> Liste des concurrents</h2>
    </div>
{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    table { min-height: 250px }    
</style>

<div class="example-wrapper">
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Société</th>
                <th scope="col">Ville</th>
                <th scope="col">Tél</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if all_concurrents| length > 0 %}
                {% set compteur = 1 %}
                {% for concurrent in all_concurrents %}
                    <tr>
                        <th scope="row">{{ compteur }}</th>
                        <td>{{ concurrent.nom }}</td>
                        <td>{{ concurrent.ville }}</td>
                        <td>{{ concurrent.tel }}</td>
                        <th>
                            <a href="#" title="Modifier">
                                <i class="fas fa-pencil crayon"></i>                            
                            </a>
                            <a href="#" title="Supprimer">
                                <i class="fas fa-trash poubelle"></i>                            
                            </a>
                        </th>
                    </tr>
                    {% set compteur = compteur + 1 %}
                {% endfor %}    
            {% else %}
                <tr class="text-center">
                    <td colspan="3" class="pt-5">Aucune concurrent enregistré.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>


</div>
{% endblock %}